@import "./constants";

@import "./components/PageManager/PageManager";
@import "./components/CanvasPage/CanvasPage";
@import "./components/Overlay/Overlay";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  pointer-events: none;
  overflow: hidden;
  width: 100%;
  height: 100%;

  font-family: $main-font-family;
  font-size: $main-font-size;
}

.app-container {
  height: 100%;
  width: 100%;
  position: absolute;
}


.svg-icon {
  width: 100%;
  height: 100%;
}
