@import "./components/PageManager/PageManager";
@import "./components/CanvasPage/CanvasPage";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  pointer-events: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.app-container {
  height: 100%;
  width: 100%;
  position: absolute;
}