@import "./constants";

@import "./components/canvas/CanvasPage";
@import "./components/overlay/Overlay";
@import "./components/menu/Menu";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  // pointer-events: none;
  // user-select: none;
  overflow: hidden;
  width: 100%;
  height: 100%;

  font-family: $main-font-family;
  font-size: $main-font-size;

  background: $page-background;
}

.app-container {
  height: 100%;
  width: 100%;
  position: absolute;
}
