@font-face {
  font-family: "Roboto";
  src: url("vendor/fonts/Roboto-Medium.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto_Slab";
  src: url("vendor/fonts/RobotoSlab-Regular.ttf") format("truetype")
}

@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

$main-font-family: "Roboto", Arial, sans-serif;
$main-font-size: 14pt;

$title-font-size: 28pt;
$title-font-family: "Roboto_Slab", Arial, sans-serif;
$title-padding: 20px;

$giant-font-size: 48pt;

$interface-bg: #fff;
$interface-border: 1px solid #000;
$interface-padding: 8px;

//todo: sort/dedupe these
$anim-period: 0.4s;
$text-color: #333;
$text-color-faint: lighten($text-color, 40%);
$accent-color: #3DA675;
$page-background: #e5ffc4;
$light-text-color: #fff;
