.page-manager {
  display: flex;
  height: 100%;
  width: 100%;

  .page {
    flex-grow: 1;
    position: relative;
  }
}

@media all and (orientation: portrait) {
  .page-manager {
    flex-direction: column;

    .page {
      border-bottom: 1px solid #000;
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}

@media all and (orientation: landscape) {
  .page-manager {
    flex-direction: row;

    .page {
      border-right: 1px solid #000;
      &:last-of-type {
        border-right: none;
      }
    }
  }
}